.footer {
  background-color: #FBD7CB;
  color: #2C4949;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
}

.footer-content span,
.footer-content a {
  font-size: 1rem;
  font-weight: 400;
  color: #2C4949;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-content span:hover,
.footer-content a:hover {
  color: #5E48AD;
}
